<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Web App</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Rut</th>
      <th>Nombres</th>
      <th>Categoria</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="empleado:${empleados}">
      <td th:text="${empleado.id}"></td>
      <td th:text="${empleado.rut}"></td>
      <td th:text="${empleado.nombres}"></td>
      <td th:text="${empleado.categoria}"></td>
      <td>
        <a class="btn btn-primary" href="#" role="button">Editar</a>
        <a class="btn btn-danger" href="#" role="button">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>