<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">
    <!-- Título ventana -->
    <title>Horas extra</title>
</head>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                Muebles Stgo
            </a>
        </div>
    </nav>
</header>
<body>
<br>
<!-- Formulario para ingresar horas extra -->
<div class="container p-3 my-3 bg-dark text-white">
    <h1>Ingresar autorización horas extras</h1>
    <br>
    <form th:action="@{/horas}" method="post">
        <label for="rut">Rut:</label>
        <input type="text" class="form-control" id="rut" placeholder="Ingrese el rut del empleado XX.XXX.XXX-X"
               name="rut" required>
        <v-if th:if="${validarRut == false}">
            <div class="alert alert-danger" role="alert">
                Ingrese un rut válido.
            </div>
        </v-if>
        <br>
        <label for="fecha">Fecha:</label>
        <input type="text" class="form-control" placeholder="Ingrese la fecha en el formato AAAA/MM/DD" id="fecha"
               name="fecha" required>
        <v-if th:if="${validarFecha == false}">
            <div class="alert alert-danger" role="alert">
                Ingrese una fecha válida.
            </div>
        </v-if>
        <br>
        <label for="horas">Cantidad de horas:</label>
        <input type="text" class="form-control" id="horas" placeholder="Ingrese la cantidad de horas extras"
               name="horas" required>
        <v-if th:if="${validarHoras == false}">
            <div class="alert alert-danger" role="alert">
                Ingrese una cantidad de horas válida.
            </div>
        </v-if>
        <br>
        <input type="submit" class="btn btn-info" value="Enviar">
        <a href="/" class="btn btn-secondary" role="button">Ir a Inicio</a>
    </form>
    <br>
    <v-if th:if="${mensaje == true}">
        <div class="alert alert-success" role="alert">
            Se ha ingresado la autorización de horas extras correctamente.
        </div>
    </v-if>
    <v-else th:if="${mensaje == false}">
        <div class="alert alert-danger" role="alert">
            No se ha podido ingresar la autorización de horas extras.
        </div>
    </v-else>
</div>
</body>
</html>