<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">
    <!-- Título ventana -->
    <title>Muebles Stgo</title>
</head>
<body>
<br>
<div class="container p-3 my-3 bg-dark text-white">
    <h1>Muebles Stgo</h1>
    <h2>Opciones:</h2>
    <br>
    <a href="/ingresar-marcas" class="btn btn-secondary" role="button">Cargar marcas de reloj</a>
    <a href="/ingresar-justificativo" class="btn btn-secondary" role="button">Ingresar justificativo</a>
    <a href="/ingresar-horas" class="btn btn-secondary" role="button">Ingresar autorización</a>
    <a href="/calcular-sueldos" class="btn btn-secondary" role="button">Calcular sueldos</a>
    <a href="/plantilla-sueldos" class="btn btn-secondary" role="button">Mostrar plantilla sueldos</a>
</div>
</body>
</html>